@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200; 1,300;1,400;1,500;1,600;1,700&display=swap');

header{
    background-color: rgb(15, 15, 15);
    width: 100%;
}
header {
    display: flex; 
    justify-content: end;
    margin: 0 ;
    max-width: 100%;
    background-image: url('images/logo_saycherry.png');
    background-size: 100% 100%; 
    background-position: center;
    background-repeat: no-repeat; 
    height: 60vb;
  }
  
header ul{
    list-style: none;
    display: flex;
    flex-direction:row;
}
header ul li{
    font-size: 16px;
    margin: 15px;
}
header{
    background-color: rgb(15, 15, 15);
    width: 100%;
}
header {
    display: flex; 
    justify-content: end;
    margin: 0 ;
    max-width: 100%;
    background-image: url('images/logo_saycherry.png');
    background-size: 100% 100%; 
    background-position: center;
    background-repeat: no-repeat; 
    height: 60vb;
  }
  
header ul{
    list-style: none;
    display: flex;
    flex-direction:row;
}
header ul li{
    font-size: 16px;
    margin: 15px;
    color: rgb(236, 66, 91);
    font-family: 'Courier New', Courier, monospace;
}

h1{
    font-size: 28px;
    color: rgb(166, 0, 24);
    margin: 15px;
    font-family: "Hepta Slab", serif;
    font-optical-sizing: auto;
    font-weight: 644;
    font-style: normal;
}
img{
    width: 250px;
}

.container{
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: stretch;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
}
.container2{
    display: flex;
    margin: 60px;
    align-items: stretch;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
}

.box{
    padding: 30px;
    margin: 10px; 
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid;
    background-color: rgb(228, 228, 228);
}

p{
    font-family: "Kiwi Maru", serif;
    font-weight: 400;
    font-style: normal;      
}

.tarjetas{
    padding: 30px;
    margin: 10px; 
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 245, 245);
}

.btn-rojo {
    background-color: #a03535;
}
i{
    color: aliceblue;
}